body {
  background-image: url("./assets/bgimage-seeme.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

