body {
  background-image: url("./assets/bgimage-seeme.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color:#2f2f3a;
  font-family: Varela Round;
}


 
.expandable {
  overflow: hidden;

  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
 }
 
 .expandable:target {
  transform: scaleY(1);
}
 